.app-container{
    display: absolute;
    background-color: #b8d6eaca;
    width: 100vw;
    height: 200vh;
    justify-content: center;
}
.accordions-group{
    display: flex;
    justify-content: center;
}
.accordions{
    display: flex;
    color: #3F51B5;
    flex-direction: column;
}

.selectedModel{
    margin-top: 10px;
}
.load{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}