.checkbox{
    /* margin-top: 200px;*/
    align-items: center;
    justify-content: center;
    height: 105vh;
    width: 100vw;
    background-color: #b8d6eaca;
    background-size: cover;
}

.topbuttons{
    display: flex;
    flex: 1;
    justify-content: space-between;

}
.submitsection{
   
        display:flex;
        
        justify-content:center;
        align-items: center;
        margin:20px
     
}
.downloadButton{
    margin-top: 18px;
}
.alertbox{
margin-top: 10px;
}
.preprocess_head{
    color: #3F51B5;
    display: flex;
    flex:1;
    justify-content: center;
    margin:30px;
}
.checkbox_selection{
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 100px;
}
